@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --font-default: "Roboto";
  --pesado: 700;
  --leve: 300;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background-color: rgb(12, 12, 12);
  color: rgb(12, 12, 12);
  font-family: var(--font-default);
}

header {
  background-color: #000000;
}

.title__content {
  padding: 1em;
}

.text {
  color: white;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  margin: 20px;
}

label {
  padding: 10px;
}

.image-field-upload,
.image-field-url {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-field-upload input[type="file"],
.image-field-url input[type="text"] {
  font-size: 15px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 250px;
  transition: all 0.2s ease-in-out;
}

.image-field-upload input[type="file"]::-webkit-file-upload-button,
.image-field-upload input[type="file"]::-ms-browse {
  background-color: #4caf50;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.image-field-upload input[type="file"]::-webkit-file-upload-button:hover,
.image-field-upload input[type="file"]::-ms-browse:hover {
  background-color: #3e8e41;
}

.image-field-url input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.image-field-url button {
  background-color: #1d1d1d;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.image-field-url button:hover {
  background-color: #5e5e5e;
}

.image-field-upload input[type="file"]:focus + label,
.image-field-url input[type="text"]:focus + label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #4caf50;
  transition: all 0.2s ease-in-out;
}

#label-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.classifications div {
  display: flex;
  align-items: center;
  font-weight: var(--pesado);
  justify-content: space-between;
  width: 200px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  color: #3a3a3a;
}

.classifications div span {
  display: block;
  height: 20px;
  background-color: #8ac926;
  border-radius: 10px;
}

.classifications div span::before {
  content: attr(data-percent);
  display: block;
  width: 40px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

.image-container {
  padding: 10px;
  margin-top: 20px;
  display: none; 
  justify-content: center;
}

.image-container img {
  border: 4px solid black;
  border-style: outset;
  padding: 2em;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer_owner span{
  gap: 0.25em;
  display: flex;
  flex-direction: row;
}

.footer_group {
  padding-right: 2.5em;
}

@media screen and (max-width: 750px) {
  * {
    overflow: auto;
  }

  .title__content {
    font-size: 20px;
  }

 .fields {
  flex-direction: column;
  gap: 1em;
 }

 .image-field-url button {
  width: 95%;
  padding: 1em;
 }

 footer {
  font-size: 12px
 }

 label {
  font-size: 15px
 }

 .image-field-upload input[type="file"], .image-field-url input[type="text"] {
  font-size: 14px;
  width: 90%;
}
}